/* header and nav layout */
header .nav-wrapper {
  /* OSS Use grey background for header
  background-color: var(--background-color);
  */
  background-color: var(--body-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  /* OSS Move hamburger from start to end */
  grid-template:
    'brand tools hamburger' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'brand hamburger' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (min-width: 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    flex-wrap: wrap; /* OSS Keep title on first line */
    align-content: flex-end;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  /* OSS Force title full width and larger font
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  */
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (min-width: 900px) {
  #nav {
    /* OSS */
    position: relative;
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    /* OSS
    position: relative;
    */
    padding-right: 16px;
    cursor: pointer;
  }

  /* OSS
  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }
  */

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    /* OSS Use a large font
    font-size: var(--body-font-size-xs);
    */
    font-size: var(--body-font-size-s);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    /* OSS
    position: relative;
    */
    font-weight: 500;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  /* OSS */
  header nav .nav-sections > ul > li > ul > li {
    background-color: #000484;
    color: #fff;
    padding: 16px;
    width: calc(50% - 32px);
  }

  /* OSS */
  header nav .nav-sections > ul > li > ul > li[aria-expanded="true"] {
    background-color: #f2f2f7;
    color: var(--text-color);
  }

  header nav .nav-sections > ul > li > ul > li[aria-expanded="true"] > strong {
    color: #000484;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    /* OSS
    left: -1em;
    width: 200px; */
    max-width: 1200px;
    width: 100%;
    left: 32px;
    top: var(--nav-height);
    /* OSS
    padding: 1em;
    background-color: var(--highlight-background-color);*/
    background-color: #f2f2f7;

    white-space: initial;
  }

  /* OSS */
  header nav .nav-sections > ul > li > ul > li > ul {
    background-color: #f2f2f7;
    display: none;
    gap: 12px 0;
  }

  /* OSS */
  header nav .nav-sections > ul > li > ul > li[aria-expanded="true"] > ul {
    position: absolute;
    top: 60px;
    left: 50%;
    height: calc(100% - 60px);
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* OSS */
  header nav .nav-sections > ul > li > ul > li > ul > li {
    background-color: #f8f9fa;
    box-shadow: 0 8px 16px -6px rgba(24,39,75,0.5);
    min-height: 58px;
    margin-left: 5%;
    width: 45%;
  }

  /* OSS */
  header nav .nav-sections .icon {
    height: 10px;
    position: absolute;
    right: 8px;
    top: calc(50% - 10px);
  }

  /* OSS */
  header nav .nav-sections > ul > li > ul > li > ul > li:hover {
    background-color: #f2f2f7;
  }

  /* OSS */
  header nav .nav-sections > ul > li > ul > li > ul > li > a {
    display: block;
    position: relative;
    padding: 16px 32px 16px 16px;
    width: calc(100% - 48px);
  }

  /* OSS */
  header nav .nav-sections > ul > li > ul > li > ul::before {
    content: "Sub Services";
    position: absolute;
    left: 16px;
    top: -40px;
  }

  /* OSS */
  header nav .nav-sections > ul > li > ul::before,
  header nav .nav-sections > ul > li > ul::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  /* OSS */
  header nav .nav-sections > ul > li > ul::after {
    background-color: #f2f2f7;
    left: 100%;
  }

  header nav .nav-sections > ul > li > ul::before {
    /* OSS
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
    */
    background-color: #000484;
    right: 100%;
  }

  /* OSS
  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }
  */
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}


/* OSS MY CUSTOMISATIONS */
.nav-brand {
  color: #000484;
  font-size: var(--heading-font-size-m);
  width: 100%;
}

@media (min-width: 900px) {
  header nav .nav-sections > ul {
    gap: 0;
  }

  header nav .nav-sections > ul > li {
    padding: 18px 20px;
  }
}

header nav a:hover {
  color: var(--link-color);
}

header nav a.button.secondary {
  margin: 10px;
}
