/* below the fold CSS goes here */
.support main {
  margin: auto;
  max-width: 1200px;
  background-color: #f8f9fa;
}

.support .columns > div {
  align-items: stretch;
  gap: 40px;
  margin-bottom: 40px;
}

.support .columns > div > div {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.support .columns h3 {
  margin-top: 0;
}

.support .columns ul {
  column-count: 2;
}

.support .columns h3 + p {
  color: var(--intro-color);
}
